body{
    margin-left: 20px;
    background-color: beige;
}



.header{
    background-color: sandybrown;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.header-title{
    margin-left: 10px;
}

.header-links-parent{
    display: flex;
}

.header-link{
    margin-left: 5px;
    margin-right: 5px;
}

.main-headline {
    display: flex;
    background-color: lightblue;
    /*padding: 20px;*/
}



.main-headline-image{
    max-width: 400px;
    max-height: 200px;
    margin: 20px;
}


.other-news {
    text-align: center;
}

.small-headlines-parent{
    display: flex;

}
.small-headline h3{
    margin: 2px;
}

.small-headline img {
    width: 250px;
    height: 150px;
    margin-left: 25px;
    margin-top: 5px;
}

.small-headline-text p {
    font-size: 14px;
}

.small-headline {
    width: 300px;
    border: solid;
}

button {
    padding: 7px;
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    background-color: #f44336;
}